fastapi
uvicorn
faiss-cpu
gradio
datasets
librosa
torchaudio
numpy
pandas
torch
transformers
sentence-transformers
soundfile
scikit-learn
tqdm
onnxruntime
onnxscript
python-multipart
accelerate
scipy
matplotlib
joblib
ipykernel
ipywidgets
torchcodec